.background-green {
    background-color: #1aa51a;
    border-top: 2px solid black;
    -webkit-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.75);

}