@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');

.deafault-todo-list {
    margin-top: 1%;
    padding-left: 2%;



}

.border-black{
    border: 1px solid black;
}

.margin-top{
    margin-top: 50px;
}

.deafault-list-header{
    padding: 1vw;
    font-size: 1.8em;
    color: white;
}

.Collapsible__trigger {
    font-size: 4em;
    color: white;
    font-family: 'DM Serif Display',
        serif;
}

.list-group {
    width: 100%;
    margin-top: 1%;
}

.deafault-done-list {}